<div class='download-pdf bottom-margin'>
  {% if attachment.downloadable %}
  {% include "lectures/partials/attachment_file" %}
  {% endif %}
</div>
{% if attachment.embeddable %}

<div class='row attachment-pdf-embed'>
  <div class='col-xs-12'>
    <div class='label'>
      <i class='fa fa-paperclip'></i>
      {{attachment.name}}
    </div>
    <div class='wrapper'>
      <button id="btn-{{attachment.filepicker_id}}" type="button" class="btn btn-primary btn-view-fullscreen-pdf">VIEW PDF IN FULL SCREEN</button>
      <div id="adobe-dc-view"></div>
      <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
      <script>
        $(document).ready(function() {
          $('#btn-{{attachment.filepicker_id}}').on('click',function() {
            var adobeDCView=new AdobeDC.View({clientId: "ba5b5ac5525f48febdadf8c4cc05c61e",divId: "adobe-dc-view"});
            adobeDCView.previewFile({
              content: {location: {url: "{{attachment.url}}"}},
              metaData: {fileName: "{{attachment.name}}"}
            },{embedMode: "LIGHT_BOX"});
          });
        });
      </script>

      <div data-pdfviewer data-pdfviewer-id="{{attachment.filepicker_id}}" id="pdfViewer-{{attachment.filepicker_id}}"></div>
    </div>
  </div>
</div>
{% endif %}