<div class="upsell-app custom-sale-promo">
  <div class="_24Gci p-3-xs">
    <div class="promo-content p-3-xs dsp-flex-xs flex-direction-column flex-align-items-center-xs _1RfKP">
      <div class="_2PbV5 col col-12-xs col-4-m m-b-3-xs m-b-0-m"><a target="_blank" href="https://www.infinitemusician.com/courses"><img class="col-12-xs" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/f1NJwqibQKie3h0axoRF" alt="Infinite Musician Sale"></a></div>
      <div class="col col-12-xs col-8-m text-center-xs">
        <div class="text-left-m">
          <h1 class="_3O4L_ m-t-0-xs m-b-0-xs">Exclusive 20% Discount on ALL Courses!</h1>
          <p>For <strong><em>Sax Lessons with the Stars</em> members only</strong> - use the coupon code <span class="highlight-text">SAXLESSONS20</span> to grab your 20% discount on ANY one of the game-changing courses on this website. <strong class="highlight-text-2">Sale ends on Thursday, March 25 at 11:59 PM Pacific Time.</strong></p>
        </div>
        <div class="dsp-flex-xs flex-direction-column flex-justify-content-space-between-xs flex-align-items-center-xs _1CuWL">
          <div class="col-12-xs col-6-m text-left-m m-b-3-xs m-b-0-m"><a class="btn btn-primary _2po1U" target="_blank" href="https://www.infinitemusician.com/courses" target="_blank" rel="noopener noreferrer">Shop With My 20% Discount</a></div>
          <!-- <div class="col-12-xs col-6-m text-right-m">
            <div class="_1ghZB"><del>$75</del> $63.75</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<h2 id="lecture_heading" class="section-title" data-lecture-id="{{lecture.id}}" data-next-lecture-id="{{next_lecture.id}}" data-lecture-url="{{lecture.url}}" data-next-lecture-url="{{next_lecture.url}}" , data-previous-lecture-url="{{previous_lecture.url}}" data-previous-lecture-id="{{previous_lecture.id}}">
  <i class="fa {{lecture.icon}}"></i>
  &nbsp;
  {{lecture.name}}
</h2>