<div class='homepage-hero'>
  <div class='container'>
    <div class='row text-center'>
      <h2 class='headline'>{{current_school.site_heading}}</h2>
      <h3 class='subtitle'>{{current_school.description}}</h3>
      {% if block.toggles.show_button == true %}
      {% if site.show_signup %}
      <br><br><a class='btn-primary btn-hg text-center homepage-hero-enroll-btn' href='{%if block.data.button_url%}{{ block.data.button_url}}{%else%}{{site.sign_up_url }}{%endif%}'>{{ block.data.button_text }}</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<!--
<div id="alert-bar" style="text-align: center;background-color: #fc0000;padding: 8px;font-size: 20px;font-weight: bold;color: #fff;"><span style="color: #fffa21"><a style="text-decoration: none; color: #fff" href="https://www.infinitemusician.com/p/sax-lessons-with-the-stars">Exclusive Sale for members of <span style="color: #000;">FREE</span> course, <em style="color: black;">Sax Lessons with the Stars</em> happening NOW!</span>
  <br><u>Click here</u> if you're not already signed up and get a <span style="color: #000; font-size: 110%;">20% discount</span> on ALL courses. Sale <span style="color: #fffa21"><em>ENDS THURSDAY</em></span> (3/25) at <span style="color: #fffa21">11:59 PM</span> (PST)!</a>
</div>
>-->
<script>
  $(function() {
    $('#alert-bar').each(function(idx,el) {
      $(this).on('click',function(e) {
        e.stopPropagation();
      });
    });
  });
</script>