<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-10 col-md-offset-1 course-description'>
      {% render_liquid %}
        {{ block.data.body }}
      {% endrender_liquid %}
    </div>
  </div>
</div>
