<ul class='nav navbar-nav navbar-right'>
  {% include "layouts/partials/header_admin_link" %}

  {% for link in site.custom_header_links limit: 5 %}
  <li>
    {% if link.url == site.path %}
    <a class='fedora-navbar-link navbar-link current-page' href='{{ link.url | school_link}}' target='{{link.target}}'>
      {{ link.text }}
    </a>
    {% else %}
    <a class='fedora-navbar-link navbar-link' href='{{ link.url | school_link }}' target='{{link.target}}'>
      {{ link.text }}
    </a>
    {% endif %}
  </li>
  {% endfor %}

  <!-- If more than 5 links, collapse the rest in a dropdown -->
  {% if site.custom_header_links.size > 5 %}
  <li>
    <a aria-expanded='false' aria-haspopup='true' class='fedora-navbar-link navbar-link dropdown-toggle' data-toggle='dropdown'>{{ 'header.more' | i18n | escape }} <i class="caret"></i> </a>
    <ul class='dropdown-menu'>
      {% for link in site.custom_header_links offset: 5 %}
      <li>
        <a href='{{ link.url | school_link }}' target='{{link.target}}'>
          {{ link.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}

  {% if current_user %}
  <!-- User Menu -->
  <li class='dropdown'>
    {% include "layouts/partials/user_menu" %}
  </li>
  {% else %}
  {% if site.show_login %}
  <li>
    <a class='navbar-link fedora-navbar-link' href='{{"/sign_in" | school_link}}'>
      {{ 'header.sign_in' | i18n | escape }}
    </a>
  </li>
  {% endif %}
  {% if site.show_signup %}
  <li>
    <a class='btn btn-primary pull-right btn-lg' id='header-sign-up-btn' href='{{"/sign_up" | school_link }}'>
      {{ 'header.sign_up' | i18n | escape }}
    </a>
  </li>
  {% endif %}
  {% endif %}
</ul>