{% favicons %}
<meta charset="UTF-8">
{% csrf_meta_tags %}
{{ site.css }}
{{ site.meta_tags }}
{{ site.custom_css}}
<script src='//fast.wistia.com/assets/external/E-v1.js'></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{{ site.js }}
{{ site.head_prepend_js }}
{{ site.header_includes }}
{{ site.custom_page_head_code }}
{{ site.head_append_js }}
<link href="/blog/rss" rel="alternate" title="RSS Feed" type="application/rss+xml" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">