<!-- HEADER -->
<header class="v1-header">
  <div id="alert-banner">
    <div class="container">
      <div class="col-xs-12">
        <em style="color: #fff">LIMITED TIME SALE - </em>
        <span style="font-weight: bold; color: yellow">30% Off</span>
        <span style="color: #fff">All Courses, Use Coupon Code</span>
        <span style="font-weight: bold; color: yellow">SAXOFRIENDS</span>
      </div>
    </div>
  </div>
  <!-- Navbar -->
  <div
    class="navbar-fedora is-at-top {{ site.context_css_classes }}{% if live_preview and site.show_header == false %} hide{% endif %}"
    id="navbar"
    role="navigation"
  >
    <div class="btstrp-container">
      <div class="btstrp-navbar-header navbar-header-courses">
        <button
          class="btstrp-navbar-toggle"
          data-target=".navbar-header-collapse"
          data-toggle="collapse"
          type="button"
        >
          <span class="btstrp-sr-only"> {{ 'common.toggle_nav' | i18n }} </span>
          <span class="btstrp-icon-bar"></span>
          <span class="btstrp-icon-bar"></span>
          <span class="btstrp-icon-bar"></span>
        </button>
        <!-- Site logo -->
        {% if site.logo_url != null %}
        <a
          class="btstrp-navbar-brand header-logo"
          href="{{current_school.url | school_link}}"
        >
          <img
            src="{{ site.logo_url }}"
            alt="{{ current_school.name }}"
            srcset="{{ site.logo_url_2x }} 2x"
          />
        </a>
        {% else %}
        <a
          class="school-title btstrp-navbar-brand"
          href="{{current_school.url | school_link}}"
        >
          {{ current_school.name}}
        </a>
        {% endif %}

        <!-- Header Menu -->
        <div class="collapse btstrp-navbar-collapse navbar-header-collapse">
          {% include "layouts/partials/header_links" %}
        </div>
      </div>
    </div>
  </div>
</header>
