<div class="im-courses-banner"><a href="https://www.infinitemusician.com/courses"><img src="https://www.filepicker.io/api/file/87yjLWXVQTKdpRqRnBY2" class="img-responsive" style="margin: 0 auto"></a>
</div>
<h2 id="lecture_heading" class="section-title" data-lecture-id="{{lecture.id}}" data-next-lecture-id="{{next_lecture.id}}" data-lecture-url="{{lecture.url}}" data-next-lecture-url="{{next_lecture.url}}" , data-previous-lecture-url="{{previous_lecture.url}}" data-previous-lecture-id="{{previous_lecture.id}}">
  <i class="fa {{lecture.icon}}"></i>
  &nbsp;
  {{lecture.name}}
</h2>