<!DOCTYPE html>
<html>
  <head>
    {% include "layouts/partials/head" %}
    <link href="https://cdn.jsdelivr.net/gh/dorono/teachable-infinite-musician/video-player/im-video-player.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/gh/dorono/teachable-infinite-musician/video-player/im-video-player.js"></script>
  </head>

  <body data-no-turbolink="true">
    {% site_meta %}
    {{ site.body_prepend_js }}
    {% include "lectures/partials/lecture_header" %}
    {% include "lectures/partials/lecture_sidebar" %}
    {{ content_for_layout }}
    {% include "lectures/partials/lecture_footer" %}
    {{ site.body_append_js }}
    <script type='text/javascript'>
        function handleChapterClick(startTime, videoId, player) {
            player.play();
            player.currentTime(startTime);
            player.pause();
        }

        $(document).ready(function () {
            var player;

            if ($('.video-js').length) {
                player = videojs('video_player', {
                    plugins: {
                        videoJsResolutionSwitcher: {
                            dynamicLabel: false,    // Display dynamic labels or gear symbol
                            default: 'low'         // Default resolution [{Number}, 'low', 'high']
                        }
                    }
                });

                player.ready(function () {
                    var imVideoPlayer = this;

                    this.hotkeys({
                        seekStep: 5
                    });

                    $(".skip-link").on("click", function (e) {
                        e.preventDefault();
                        var startPosition = $(this).data("start-position");
                        var targetId = $(this).attr("id");
                        handleChapterClick(startPosition, targetId, imVideoPlayer);
                    });
                });

                player.on('resolutionchange', function () {
                    console.info('Source changed to %s', player.src())
                });
            }

        });
    </script>
  </body>
</html>
